<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
<div class="container text-center">
    <!--/*@thymesVar id="user" type="com.gusev.spring5quizapp.model.User"*/-->
    <form class="form-signin" th:fragment="login (user, path, btnValue, isRegisterForm)" th:object="${user}"
          th:action="${path}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please <span th:text="${btnValue}"></span></h1>
        <div th:if="${isRegisterForm}">
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Email" required name="email"
                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" th:field="*{email}" autofocus>
            <div class="invalid-feedback" th:errors="*{email}">
            </div>
        </div>

        <div><label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" autofocus>
            <div class="invalid-feedback" th:errors="*{username}">
            </div>
        </div>
        <div><label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control"
                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                   placeholder="Password" required>
            <!--               th:classappend="${isRegisterForm} ? 'rounded-0'"-->
            <div class="invalid-feedback mb-1" th:errors="*{password}">
            </div>
        </div>
        <div th:if="${isRegisterForm}">
            <div>
                <label for="passwordConfirmation" class="sr-only">Confirm password</label>
                <input type="password" id="passwordConfirmation" class="form-control mb mt-n1"
                       name="passwordConfirmation"
                       placeholder="Confirm Password" required>
            </div>
            <div>
                <div class="g-recaptcha" data-sitekey="6LcvR5sUAAAAANszKHV9GNLPlw-gj6tv4MIS9eoI"></div>
                <div th:if="${captchaError}" th:class="|alert alert-danger|"
                     th:text="${captchaError}">
                </div>
            </div>
        </div>
        <div th:unless="${isRegisterForm}" class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-dark btn-block" type="submit" th:text="${btnValue}"></button>
        <h6 class="text-center">
            <a class="badge badge-secondary" th:if="${isRegisterForm}" th:href="@{/login}">Sign In</a>
        </h6>
        <h6 class="text-center">
            <a class="badge badge-secondary" th:unless="${isRegisterForm}" th:href="@{/registration}">Sign Up</a>
        </h6>
    </form>
</div>
</body>
</html>