<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark pl-5">
    <a class="navbar-brand" href="/">Quiz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/index">Quizzes</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/user/profile/edit">Edit Profile</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" th:href="@{|/user-quizzes/${#authentication.principal.id}|}">My quizzes</a>
            </li>
            <li class="nav-item" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <a class="nav-link text-warning" href="/user">Users ACL</a>
            </li>
        </ul>
    </div>
    <div class="navbar-text" sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <b class="mr-2" sec:authentication="principal.username"></b>
            <button type="submit" class="btn btn-outline-light" th:text="|Sign out|"></button>
        </form>
    </div>
</nav>
</html>