<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form action="#" th:action="@{/index}" th:object="${quiz}" method="post">
            <input type="text" th:field="*{name}" th:placeholder="Название"/>
            <input type="text" th:field="*{text}" th:placeholder="Описание"/>
            <input type="text" th:field="*{tag}" th:placeholder="Тэг"/>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
        </form>
    </div>
    <div th:if="${quizzes}">Список тестов:</div>
    <form method="get" th:action="@{/index}">
        <input type="text" th:name="filter" th:placeholder="|Фильтр по тэгу|">
        <button type="submit">Искать</button>
    </form>
    <div th:each="quis : ${quizzes}">
        <b th:text="${quis.id}">1</b>
        <span th:text="${quis.name}">TestQuiz</span>
        <i th:text="${quis.tag}">Tag</i>
        <strong th:text="|Author: ${quis.authorName}|">Author</strong>
        <form th:action="@{/index/delete}" method="post">
            <input type="hidden" th:name="id" th:value="${quis.id}" />
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>