<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head ('Main')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container mt-5">
    <form method="get" th:action="@{/index}" class="form-inline mb-5">
        <input type="text" class="form-control" th:name="filter" th:placeholder="|Search by tag|">
        <button class="btn btn-outline-dark ml-2" type="submit">Search</button>
        <a class="btn btn-dark ml-2 " th:href="@{/quizAdd}" role="button">Add new quiz</a>
    </form>
    <div th:if="${quizzes}"><h3 class="text-center">Quizzes</h3></div>
    <div th:replace="fragments/quizList :: quizList (${quizzes})"></div>
</div>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>