<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/common :: head ('Вход')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container mt-5">
    <div th:if="${param.error} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
        <div class="alert alert-danger" th:text="${errorMsg}"></div>
    </div>
    <div th:if="${param.logout}">
        <div class="alert alert-info" th:text="|You have been logged out|"></div>
    </div>
    <div th:if="${message}!=null" th:class="|alert alert-${messageType}|" th:text="${message}"></div>

    <div class="container mt-5">
        <div class sec:authorize="!isAuthenticated()"
             th:replace="fragments/login :: login (user = ${user}, path = @{/login}, btnValue = 'Sign In', isRegisterForm = false)"></div>
    </div>
</div>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>