<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head ('The Quiz')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container mt-5">

    <div>
        <h2 th:text="${quiz.name}"></h2>
        <h6 class=" badge badge-dark">#<span th:text="${quiz.tag}"></span></h6>
        <p><strong>Description: </strong><span th:text="${quiz.text}"></span></p>
    </div>

    <div class="bg-light col-8 m-3" th:each="question : ${questions}">
        <div class="m-2"><strong>Question: </strong>
            <span th:text="${question.text}"></span>
        </div>
        <div class="radio" th:each="option,i: ${question.options.entrySet()}">
            <label>
                <input type="radio" name="optionsRadios" id="" value="1" th:text="*{option.getValue()}">
            </label>
        </div>
    </div>

    <a class="btn btn-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Add new Question
    </a>
    <div class="collapse" id="collapseExample">
        <div class="form-group mt-3">
            <form th:action="@{/questionAdd}" th:object="${question}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" id="quest" th:field="*{text}"
                               placeholder="Enter Question..."/>
                    </div>
                </div>
                <div class="container col-10">
                    <table id="myTable" class=" table order-list">
                        <tbody>
                        <tr>
                            <td class="col-sm-10">
                                <input type="text" th:field="*{options[0]}" class="form-control" placeholder="Add Option..."/>
                            </td>
                            </td>
                            <td class="col-sm-2"><a class="deleteRow"></a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" style="text-align: left;">
                                <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                            </td>
                        </tr>
                        <tr>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <input type="hidden" name="quiz" th:value="${quiz.id}">
                <button type="submit" class="btn btn-dark">Add</button>
            </form>

        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/addOptionDynamic.js}"></script>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>