<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head ('Редактирование пользователя')"></head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>
<div class="container mt-5">
    User editor
    <form th:action="@{/user}" th:method="post">
        <input type="text" th:name="username" th:value="${user.username}"/>
        <div th:each="role : ${roles}">
            <input type="checkbox" th:name="${role}" th:checked="${#lists.contains(user.roles, role)}">
            <label th:text="${role}"></label>
        </div>
        <input type="hidden" th:name="userId" th:value="${user.id}"/>
        <button type="submit">Save</button>
    </form>
</div>
<footer th:replace="fragments/common :: footer"></footer>
</body>
</html>